VITE_SUPABASE_URL=yhttps://fzwbrtcuegrtmuhuzogg.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ6d2JydGN1ZWdydG11aHV6b2dnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODc4NzY5ODksImV4cCI6MjEwMzQ1Mjk4OX0.fWA-BXG8DwRWDcAnz6CqSJqMkDmhREPiernVDHn-3x8
